xml/rutas.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.uniovi.es" elementFormDefault="qualified"
    targetNamespace="http://www.uniovi.es" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="rutas">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="3" maxOccurs="unbounded" ref="ruta" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ruta">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="horario" />
                <xs:element ref="descripcion" />
                <xs:element ref="personasAdecuadas" />
                <xs:element ref="inicio" />
                <xs:element ref="referencias" />
                <xs:element ref="hitos" />
                <xs:element ref="trazado" />
                <xs:element ref="planimetria" />
                <xs:element ref="altimetria" />
            </xs:sequence>

            <xs:attribute name="id" type="xs:ID" use="required" />

            <xs:attribute name="nombre" type="xs:string" use="required" />
            <xs:attribute name="tipo" type="xs:string" use="required" />

            <xs:attribute name="medio" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="A pie" />
                        <xs:enumeration value="Bicicleta" />
                        <xs:enumeration value="Coche" />
                        <xs:enumeration value="Caballo" />
                        <xs:enumeration value="Mixto" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>

            <xs:attribute name="agencia" type="xs:string" use="required" />

            <xs:attribute name="recomendacion" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:integer">
                        <xs:minInclusive value="0" />
                        <xs:maxInclusive value="10" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>

        </xs:complexType>
    </xs:element>


    <xs:element name="horario">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" ref="fecha_inicio" />
                <xs:element minOccurs="0" maxOccurs="1" ref="hora_inicio" />
                <xs:element ref="duracion" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="fecha_inicio" type="xs:date" />

    <xs:element name="hora_inicio" type="xs:time" />

    <xs:element name="duracion" type="xs:duration" />
    <xs:element name="descripcion" type="xs:string" />
    <xs:element name="personasAdecuadas" type="xs:string" />
    <xs:element name="inicio">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="lugar" />
                <xs:element ref="direccion" />
                <xs:element ref="coordenadas" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="lugar" type="xs:string" />
    <xs:element name="direccion" type="xs:string" />


    <xs:element name="coordenadas">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="longitud" />
                <xs:element ref="latitud" />
                <xs:element ref="altitud" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="latitud">
        <xs:simpleType>
            <xs:restriction base="xs:decimal">
                <xs:minInclusive value="-90" />
                <xs:maxInclusive value="90" />
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="longitud">
        <xs:simpleType>
            <xs:restriction base="xs:decimal">
                <xs:minInclusive value="-180" />
                <xs:maxInclusive value="180" />
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="altitud" type="xs:decimal" />

    <xs:element name="referencias">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="3" maxOccurs="unbounded" ref="referencia" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="referencia" type="xs:anyURI" />


    <xs:element name="hitos">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="5" maxOccurs="unbounded" ref="hito" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="hito">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="descripcion" />
                <xs:element ref="coordenadas" />
                <xs:element ref="distancia" />
                <xs:element ref="fotografias" />
                <xs:element minOccurs="0" maxOccurs="1" ref="videos" />
            </xs:sequence>
            <xs:attribute name="nombre" type="xs:string" use="required" />
        </xs:complexType>
    </xs:element>


    <xs:simpleType name="distanciaPositiva">
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0" />
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="distancia">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="distanciaPositiva">
                    <xs:attribute name="unidades" use="required">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="km" />
                                <xs:enumeration value="m" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>


    <xs:element name="fotografias">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="5" ref="fotografia" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="fotografia" type="xs:string" />


    <xs:element name="videos">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="3" ref="video" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="video" type="xs:string" />

    <xs:element name="trazado">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="unbounded" ref="coordenadas" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="planimetria" />
    <xs:element name="altimetria" />

</xs:schema>